<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Novel us - 모두가 지원하는 소설</title>

  <!-- Bootstrap core CSS -->
  <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!--jquery-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> 
  <!-- Custom styles for this template -->
  <link href="../stylesheet/index.css" rel="stylesheet">
  

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#">Novel us</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Header -->
  <header class="bg-primary py-5 mb-5">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-lg-12">
          <h1 class="display-4 text-white mt-5 mb-2">좋아하는 작품을 직접 지원해보세요!</h1>
          <p class="lead mb-5 text-white-50"> 당신이 펀딩한 작품이 출시되어 많은 인기를 얻을 경우, 당신에게 일정 부분 수익이 돌아갑니다.</p>
        </div>
      </div>
    </div>
  </header>

  <!-- Page Content -->
  <div class="container">

    <div class="row">
      <div class="col-md-5 mb-5">
        <h2> </h2>
        <!-- 작품 이미지 들어갈 칸. 없으면 공간만 차지-->
        <img class="card-img-top" src="https://placehold.it/300x200" alt="">

      </div>
      <div class="col-md-7 mb-5">
        <h2 id="novel">작품 제목</h2>
        <hr>
          <strong>엄청난 몰입감!</strong>
        <address>
          <p> 지금까지 이런 전개는 없었다 이것은 현실인가 소설인가 뭔 소린진 모르곘지만 대충 여기에 작품에 대한 간단한 설명을 넣습니다</p>
          <br>
         <p> <strong> 목표 후원액:</strong> <strong  id="total_amount">1,000,000</strong><strong>원</strong></p> 
        </address>        
        <input type="number" name="amount" id="amount"> 
        <input type="button" class="button btn btn-primary btn-lg" value="펀딩하기" id="btn-funding">
      </div>
    </div>
    <!-- /.row -->

    <h1><strong>다른 작품 보기</strong></h1>
    <div class="row">
      <div class="col-md-4 mb-5">
        <div class="card h-100">
          <img class="card-img-top" src="https://placehold.it/300x200" alt="">
          <div class="card-body">
            <h4 class="card-title">다른 작품 1</h4>
            <p class="card-text"></p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">Find Out More!</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-5">
        <div class="card h-100">
          <img class="card-img-top" src="https://placehold.it/300x200" alt="">
          <div class="card-body">
            <h4 class="card-title">다른 작품 2</h4>
            <p class="card-text"></p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">Find Out More!</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-5">
        <div class="card h-100">
          <img class="card-img-top" src="https://placehold.it/300x200" alt="">
          <div class="card-body">
            <h4 class="card-title">다른 작품 3</h4>
            <p class="card-text"></p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">Find Out More!</a>
          </div>
        </div>
      </div>
    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Your Website 2020</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script>
    $(document).ready(() => {
      $("#btn-funding").off('click').on('click',()=>{
        $.ajax({
          url:'/funding',
          method:'post',
          data:{amount:$("#amount").val(),novel:$('#novel').html(),total:$("#total_amount").html(),name:'user'},
          success:(res)=>{
            alert(res);
          },
          error:()=>{
            alert('error');
          }
        })
      })
    })
  </script>
</body>


</html>
